.esquerda{
    background-color: black;
width: 60%;
right: 45%;
position: absolute;
text-align: center;
}   
.direita{
    width: 58%;
left: 45%;
    background-color: black;
    text-align: center;
    position: absolute;
}
.container{
    position: relative;;
}
[name ="artificial"]{
padding-bottom:20% ;
position: relative;
color: black;    
}
[name="jogador"]{
    position: fixed;
    color: black;
    padding-top:2%;
}
[name="placar"]{
    color: black;
    margin-left: 12%;
}
.operação{
    background-color: white;
    text-align: center;
    left: 35%;
    position: relative;
    padding-right: 15%;
    padding-left: 5%;
}
.img_artificial{
    left: 45%;
    position: relative;
    bottom: 180%;
    filter: grayscale(100%);
    filter: gray;
}
.img_jogador{
    left: 40%;
    position: relative;
    top: 60%;
    filter: grayscale(100%);
    filter: gray;
}
input[name="jogador_texto"]{
    
    position: relative;
    left: 65%;
    top: 80%;
}
input[name="artificial_texto"]{
    position: relative;
    left:74%;
    bottom: 750%;
}

 @media screen and (max-width: 700px)  {
    [name ="artificial"]{
        padding-bottom:55% ;
        color: black;    
        }
        [name="placar"]{
            color: black;
            margin-left:45%;
            margin-top: 10%;
        }
        .img_artificial{
            left: 60%;
            position: relative;
            bottom: 180%;
            filter: grayscale(100%);
            filter: gray;
        }
        .operação{
            background-color: white;
            text-align: center;
            left: 45%;
            position: relative;
            padding-right: 20%;
            padding-left: 10%;
        }
        .img_jogador{
            left: 40%;
            position: relative;
            top:80%;
            filter: grayscale(100%);
            filter: gray;
        }
        input[name="jogador_texto"]{
    
            margin-top: 10%;
            margin-left: 45%;
            width: 70%;
        }
        input[name="artificial_texto"]{
            
            margin-left:74%;          
            width: 70%;
        }
} 