/* verticial de 1024px até máximo possivel */

@media screen and (min-width: 1024px){

    body{
        opacity: 1;
        background-color: rgb(127,127,229)

    }
    h4{
        position: fixed;
        float: left;
        left: 20.5%; 
        opacity: 0.5;

    }
    table{
        position: fixed;
        left: 20.5%;
        top: 25%;
        text-align: justify;
        opacity: 0.5;
    }
    table tr{
        position: fixed;
        background-color: #ff3333;

        padding-right: 40%;
        padding-bottom: 20%;
    }
    h4 span{
        position: fixed;
        background-color: #ff3333;
        top: 20%;

    }
    .sair{
        position: fixed;
        background-color: #ff3333;
        opacity: 0.5;
        top: 5%;
        left: 2.5%;
        padding-left: 3%;
        padding-right: 3%;
    }
    .selecionar{
        position: fixed;
        background-color: #ff3333;
        opacity: 0.5;
        top: 5%;
        left: 13.5%;
        padding-left: 3%;
        padding-right: 3%;
    }
    .coluna_nova{
        position: fixed;
        top: 28%;
        left: 22.5%;
        width: auto;
    }
    .deletar 
    {
        position: fixed;
        background-color: #ff3333;
        opacity: 0.5;
        left: 28%;
        top: 5%;
    }
    .deletar_tudo{
        position: fixed;
        background-color: #ff3333;
        opacity: 0.5;
        left: 35%;
        top: 5%;
    }
    .LI-profile-badge {
        position: fixed;
        left: 78%;
        top: 60%;
        background-color: white;
     }
    .esquerda{
        width: 50%;
        left: -10%;
        position: absolute;
        text-align: center;
        border: 1px dotted black;
    }   
    .direita{
        width: 58%;
        right: -7%;
        border: 1px dotted black;
        text-align: center;
        position: absolute;
    }
    .container{
        position: relative;;
    }
    [name ="artificial"]{
        padding-bottom:20% ;
        position: relative;
        color: black;
    }
    [name="jogador"]{
        position: fixed;
        color: black;
        padding-top:2%;
    }
    [name="placar"]{
        color: black;
        margin-left: 12%;
    }
    .operação{
        background-color: white;
        text-align: center;
        left: 35%;
        position: relative;
        padding-right: 15%;
        padding-left: 5%;
        padding-top: 0.5%;
    }
    .img_artificial{

        position: relative;
        left: 55%;
        bottom: 180%;
        filter: grayscale(100%);
        filter: gray;
    }
    .img_jogador{

        position: relative;
        left:45%;
        top: 30%;
        filter: grayscale(100%);
        filter: gray;
    }
    input[name="jogador_texto"]{

        position: relative;
        left: 65%;
        bottom: 35%;
    }
    [name="artificial_texto"]{
        position: relative;
        left:80%;
        bottom: 900%;
        background-color: white;
        text-align: center;
        padding-right: 15%;
        padding-left: 13%;
        padding-top: 0.5%;
    }
    [name="salvar"]{
        position: relative;
        top: 50%;
        background-color: #ff3333;
        left: 18%;
        color: black;
        opacity: 0.5;
    }

    [name="Resposta"]{
        background-color: #ff3333;
        opacity: 0.9;
        color: black;
        position: relative;
        bottom:40%;
        left:70%;
        opacity: 0.5;
    }
    [name="Resposta_artificial"]{
        background-color: #ff3333;
        opacity: 0.9;
        color: black;
        position: relative;
        left: 95%;
        bottom:160%;
        opacity: 0.5;
    }
    .interrogação{
        position: relative;
        left:75%;
        filter: grayscale(100%);
        filter: gray;
        bottom: 35%;;
        cursor: pointer;
    }
    [name="nome_jogador"]{
        position: relative;
        left: 75%;
        bottom: 100%
    }
    [name="nome_artificial"]{
        position: relative;
        left: 76%;
        top: 50%;

    }
    .img_resultado1{
        position: relative;
        left: 63%;
    }
    .img_resultado0{
        position: relative;
        top: 80%;
        left: 72%;
    }
    .temporizador{
        color: black;
        left: 45%;
        position: absolute;
    }
}

/* verticial de  700px até 1024px */
@media screen and (min-width: 701px) and (max-width:1024px){

    body{
        opacity: 1;
        background-color: rgb(127,127,229)

    }
    h4{
        position: fixed;
        float: left;
        left: 10.5%; 
        opacity: 0.5;

    }
    table{
        position: fixed;
        left: 10.5%;
        top: 25%;
        text-align: justify;
        opacity: 0.5;
    }
    table tr{
        position: fixed;
        background-color: #ff3333;

        padding-right: 10%;
        padding-bottom: 20%;
    }
    h4 span{
        position: fixed;
        background-color: #ff3333;
        top: 20%;

    }
    .sair{
        position: fixed;
        background-color: #ff3333;
        opacity: 0.5;
        top: 5.5%;
        left: 2.5%;
        padding-left: 3%;
        padding-right: 3%;
    }
    .selecionar{
        position: fixed;
        background-color: #ff3333;
        opacity: 0.5;
        top: 5.5%;
        left: 15.5%;
        padding-left: 3%;
        padding-right: 3%;
    }
   
    .coluna_nova{
        position: fixed;
        top: 28%;
        left: 12%;
        width: auto;
    }
    .deletar 
    {
        position: fixed;
        background-color: #ff3333;
        opacity: 0.5;
        left: 35%;
        top: 5.5%;
    }
    .deletar_tudo{
        position: fixed;
        background-color: #ff3333;
        opacity: 0.5;
        left: 48%;
        top: 5.5%;
    }
    .LI-profile-badge {
        position: fixed;
        left: 73%;
        background-color: white;
     }
    .esquerda{
        width: 50%;
        left: -10%;
        position: absolute;
        text-align: center;
        border: 1px dotted black;
    }   
    .direita{
        width: 58%;
        right: -3%;
        border: 1px dotted black;
        text-align: center;
        position: absolute;
    }
    .container{
        position: relative;;
    }
    [name ="artificial"]{
        padding-bottom:20% ;
        position: relative;
        color: black;    
    }
    [name="jogador"]{
        position: fixed;
        color: black;
        padding-top:2%;
    }
    [name="placar"]{
        color: black;
        margin-left: 12%;
    }
    .operação{
        background-color: white;
        text-align: center;
        left: 35%;
        position: relative;
        padding-right: 15%;
        padding-left: 5%;
        padding-top: 0.5%;
    }
    .img_artificial{

        position: relative;
        left: 50%;
        bottom: 180%;
        filter: grayscale(100%);
        filter: gray;
    }
    .img_jogador{

        position: relative;
        left:20%;
        top: 10%;
        filter: grayscale(100%);
        filter: gray;
    }
    input[name="jogador_texto"]{

        position: relative;
        left: 50%;
        bottom: 50%;
    }
    [name="artificial_texto"]{
        position: relative;
        left:80%;
        bottom: 900%;
        background-color: white;
        text-align: center;
        padding-right: 15%;
        padding-left: 13%;
        padding-top: 0.5%;
    }
    [name="salvar"]{
        position: relative;
        top: 30%;
        background-color: #ff3333;
        opacity: 0.9;
        color: black;
        float: left;
        left:20%;
        opacity: 0.5;
    }

    [name="Resposta"]{
        background-color: #ff3333;
        opacity: 0.9;
        color: black;
        position: relative;
        bottom:50%;
        left: 55%;
        opacity: 0.5;
    }
    [name="Resposta_artificial"]{
        background-color: #ff3333;
        opacity: 0.9;
        color: black;
        position: relative;
        left: 95%;
        bottom:160%;
        opacity: 0.5;
    }
    .interrogação{
        position: relative;
        float: left;
        left:150%;
        filter: grayscale(100%);
        filter: gray;
        bottom: 80%;;
    }
    [name="nome_jogador"]{
        position: relative;
        left: 70%;
        bottom: 100%
    }
    [name="nome_artificial"]{
        position: relative;
        left: 75%;
        top: 30%;

    }
    .img_resultado1{
        position: relative;
        left: 55%;
    }
    .img_resultado0{
        position: relative;
        top: 60%;
        left: 55%;
    }
    .temporizador{
        color: black;
        left: 40%;
        position: absolute;
    }
}
