/* verticial*/
@media screen and (max-width:500px){

    body{
        opacity: 1;
        background-color: rgb(127,127,229);
    }
    .esquerda{
        position: absolute;
        border: 1px dotted black;
        width: 40%;
        left: 0%;

    }   
    .direita{
        position: absolute;
        border: 1px dotted black;
        width: 40%;
        right: 0%;
    }
    [name ="artificial"]{
    }
    [name="jogador"]{
        position: relative;
    }
    [name="placar"]{
        position: relative;
    }
    .operação{
        background-color: white;
        font-style: normal;
        align-content: center;
        position: relative;
        padding-right: 20%;
        padding-left: 10%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        left: 35%;
        top: 100%;
    }
    .img_artificial{
        filter: grayscale(100%);
        width: 31%;
        position: relative;
        left: 70%;
        bottom: 130%;
    }
    .img_jogador{
        filter: grayscale(100%);
        width:35%;
        position: relative;
        top: 420%;
        left: 65%;
    }
    input[name="jogador_texto"]{
        position: relative;
        width: 63%;
        top: 230%;
        left:60%;
    }

    [name="salvar"]{
        font-size: 80%;
        position: relative;
        top: 450%;
        right: 20%;
        background-color: #ff3333;
    }

    [name="Resposta"]{
        font-size: 80%;
        position: relative;
        float: right;
        left: 130%;
        top: 180%;
        background-color: #ff3333;

    }

    [name="Resposta_artificial"]{
        background-color: #ff3333;
        font-size: 80%;
        position: relative;
        float: right;
        left: 130%;
        bottom: 180%;

    }
    .interrogação{
        filter: grayscale(100%);
        width: 20%;
        position: relative;
        float: right;
        left: 220%;
        top: 180%;
    }
    [name="nome_jogador"]{
        position: relative;
        left: 110%;
        top: 180%;
    }
    [name="valor_jogador"]{
        position: relative;
    }
    [name="Derrota_jogador"]{
        position: relative;

    }
    [name="nome_artificial"]{
        position: relative;
        left: 45%;
    }
    .img_resultado1{
        position: relative;
        left: 30%;
    }
    .img_resultado0{
        position: relative;
        left: 110%;
    }
    .temporizador{
        position: absolute;
        left:45%;
        bottom: 53%;
    }     
    [name="artificial_texto"]{
        position: relative;
        left:110%;
        bottom: 400%;
        background-color: white;
        padding-right: 15%;
        padding-left: 13%;
        padding-top: 0.5%;
    }   
    [name="Vitoria_jogador"]{
        position: relative;
    }
}

/* horizontal*/
@media screen and (min-width: 501px)  and (max-width:700px){
    body{
        opacity: 1;
        background-color: rgb(127,127,229);

    }
    .esquerda{
        border: 1px dotted black;
        width: 51%;
        position: absolute;
    }   
    .direita
    {
        border: 1px dotted black;
        width: 51%;
        position: absolute;
    }

    [name ="artificial"]{
    }
    [name="jogador"]{
        width: 53%;
    }
    [name="placar"]{
    }
    .operação{
        width: 65%;
        position: relative;
        left: 20%;
    }
    .img_artificial{
        filter: grayscale(100%);
        width: 31%;
        float: left;
    }
    .img_jogador{
        filter: grayscale(100%);
        width: 31%;
        margin-left: -15%;
        margin-top: 25%;
    }
    input[name="jogador_texto"]{
        width: 65%;
        margin-left: -20%;
    }

    [name="salvar"]{

        margin-left: -60%;
        margin-top: -5%;
    }

    [name="Resposta"]{
        margin-left: 80%;
        margin-top: -20%;
    }   
    [name="Resposta_artificial"]{
        margin-left: 34%;   
    }
    .interrogação{
        margin-top: -280%;
        margin-left: 100%;
    }
    [name="nome_jogador"]{
    }
    [name="nome_artificial"]{
    }
    .img_resultado1{
    }
    .img_resultado0{
    }
    .temporizador{
    }        
    [name="artificial_texto"]{
        width: 65%;
        margin-left: 20%;
        margin-top: -20%;
    }
} 
